


.top-page{
    display: flex;
    height: 30vw;
    background-color: skyblue;
    
}


.top-page-letter{
    width: 50%;
    padding: 60px;
    
}

.top-page-letter > h4 {
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
    

}

.top-page-letter > p {
    color: white;
    margin: 0;
}

.img1-box{
   width: 50%;
   position: relative;
   
   
}

.img1{
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.top-button{
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.white-bar{
    background-color: white;
    height: 10vw;
    text-align: center;
    
}

.middle-button{
 font-size: 1rem;
 padding: 12px;
 background-color: black;
 color : white;
 border-radius: 8px;
}

.services{
    width: 100%;
    height: 30vw;
    background-color: cornflowerblue;
    text-align: center;
    overflow: hidden; /* margin collpase 방지 - padding도 가능 */
}

.services > p {
    margin-top: 50px;
    font-size: 1rem;
    margin-bottom: 0;
    color:white;
}

.services > h4 {
    font-size: 26px;
    margin: 0;
    color:white;
}

.icon-box{
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
 font-size: 50px;
 margin-top: 50px;
 background-color: white;
 width: 100px;
 line-height: 100px;
 border-radius: 50px;
 

}

.icon{
    width: 15%;
    height: 15vw;
}

.bottom-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.bottom-page > p, h4, .inc {
    
    text-align: center;
    margin: 0;
    
}

 .inc  {
   margin-top: 40px;
   width: 100%;
   

}

.pic-page{
    width: 80%;
    height: 50vw;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    
}

.pic{
    width: 50%;
    height: 25vw;

}

.pic-page img{
    width: 100%;
    height: 25vw;
}


.bottom-bar {
    display: flex;
    width: 100%;
    height: 20vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bottom-bar .icon{
    width: 100px;
    height: 100px;
    margin: 20px;
    
}

.bottom-bar i{
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    color: white;
    
}

.last{
    text-align: center;
    width: 100%;
    
}

.pic-page .pic :hover {
    transition: opacity 0.5s, transform 0.5s; 
    opacity: 0.5;          
    transform: scale(0.9); 
}

